;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[org.clojure/clojure "1.10.0-alpha5"]
  [org.clojure/clojurescript "1.10.339"]

  ; transitive deps
  [com.taoensso/encore "2.96.0"]
  [adzerk/boot-cljs "2.1.4" :scope "test"]
  [doo "0.1.9" :scope "test"]

  [cljs-ajax "0.7.3"]
  [com.taoensso/tufte "2.0.1"]
  [degree9/featherscript "0.4.0-SNAPSHOT"]
  [degree9/meta "0.3.0-SNAPSHOT"]
  [com.cemerick/url "0.1.1"]

  ; testing
  [thheller/shadow-cljs "2.4.13" :scope "test"]
  [degree9/boot-semver "1.7.0" :scope "test"]
  [crisptrutski/boot-cljs-test "0.3.5-SNAPSHOT" :scope "test"]]

 :builds
 {:shopify {:target :browser
            :output-dir "target/shopify"
            :output-to "target/shopify/script.js"
            :modules
            {:main
             {:entries [degree9.shopify.core]}}}}}
