;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [; transitive deps
  [com.taoensso/encore "2.106.0"]
  [doo "0.1.11" :scope "test"]

  ;[cljs-ajax "0.7.3"]
  [com.taoensso/tufte "2.1.0-RC4"]
  [degree9/featherscript "0.5.0-SNAPSHOT"]
  [com.cemerick/url "0.1.1"]
  ;[cljs-http "0.1.45"]
  [camel-snake-kebab "0.4.0"]
  [com.taoensso/timbre "4.10.0"]
  [binaryage/oops "0.7.0"]
  [funcool/cuerdas "2.1.0"]
  [degree9/meta "0.5.0-SNAPSHOT"]
  [degree9/uikit-hl "3.0.0-SNAPSHOT"]

  ; testing
  ;[thheller/shadow-cljs "2.8.14" :scope "test"]
  [degree9/boot-semver "1.8.0" :scope "test"]
  [crisptrutski/boot-cljs-test "0.3.5-SNAPSHOT" :scope "test"]]

 ; http server
 :http {:host "127.0.0.1"}

 ; build configurations
 :builds
 {:app {
        :target :node-script
        ; :target :browser
        :main degree9.repl/init
        :output-dir "repl-public/js"
        :output-to "repl-node/main.js"
        :asset-path "/js"
        :compiler-options {:reader-features #{:browser}}

        :modules
        {:main
         {:entries [degree9.repl]}}

        :devtools
        {:http-root "repl-public"
         :http-port 8020}}
  :test {
         :target :node-test
         :output-to "test/main.js"
         :ns-regexp "degree9\\..*"
         :autorun true}}}
